<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>訂購完成 - 台北一日遊</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css' integrity='sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="/public/css/base.css">
  <link rel="stylesheet" href="/public/css/thankyou.css">
</head>

<body>
  <div class="wrapper">
    <div class="sign_page">
      <div class="page_box si">
        <div class="top_decorate"></div>
        <h2 class="h2 si">登入會員帳號</h2>
        <div class="exit_icon si"></div>
        <input class="email si" type="email" placeholder="輸入電子信箱">
        <input class="pwd si" type="password" placeholder="輸入密碼 需含小寫英文及數字">
        <button class="btn si" onclick="signIn();">登入帳戶</button>
        <div class="caution_box si">
          <p class="msg si"></p>
        </div>
        <p class="p si">還沒有帳戶？<span class="to_sign_up" onclick="showSignUp();">點此註冊</span></p>
      </div>
      <div class="page_box su">
        <div class="top_decorate"></div>
        <h2 class="h2 su">註冊會員帳號</h2>
        <div class="exit_icon su"></div>
        <input class="name su" type="text" placeholder="輸入姓名">
        <input class="email su" type="email" placeholder="輸入電子信箱">
        <input class="pwd su" type="password" placeholder="輸入密碼 需含小寫英文及數字">
        <button class="btn su" onclick="signUp();">註冊新帳戶</button>
        <div class="caution_box su">
          <p class="msg su"></p>
        </div>
        <p class="p su">已經有帳戶了？<span class="to_sign_in" onclick="toggleSignIn();">點此登入</span></p>
      </div>
    </div>
    <nav>
      <div class="nav_bar">
        <a href="/">台北一日遊</a>
        <ul>
          <li class="member_icon li_out">
            <i class="fa-solid fa-user-gear"></i>
          </li>
          <li class="schedule li_out" onclick="toBooking()">預定行程</li>
          <li class="sign_in_up li_out" onclick="showSignIn();">登入/註冊</li>
          <li class="sign_out li_out" onclick="signOut();">登出系統</li>
        </ul>
      </div>
    </nav>
    <div class="nav_box"></div>
    <div class="wait">
      <div class="row">
        <h1>載入中</h1>
        <div class="animation"></div>
      </div>
    </div>
    <section>
      <div class="text_box">
        <h3>行程預定<span>成功</span></h3>
        <h3>您的訂單編號如下</h3>
        <p class="order_number"></p>
        <p>請記住此編號，或到會員中心查詢歷史訂單</p>
      </div>
    </section>
    <footer class="empty">
      <p>COPYRIGHT © 2022 台北一日遊</p>
    </footer>
  </div>

  <script type="module" src="/public/js/nav/nav_setting.js"></script>
  <script type="module" src="/public/js/thankyou/thankyou.js"></script>
</body>
</html>